<h2>Administration</h2>

<div class="editProduct">

    <h3>Edit product</h3>

    <form #productForm="ngForm">
        <div>
            <input [(ngModel)]="model.name" 
                name="name"
                type="text"
                #name="ngModel"
                required
                minlength="2">
        </div>

        <div *ngIf="formErrors.name" class="alert">
            {{formErrors.name}}
          </div>

        <div>
            <textarea [(ngModel)]="model.about" 
                name="about" 
                type="text" 
                rows="10" 
                cols="30">
            </textarea>
        </div> 

        <button [disabled]="productForm.form.invalid" 
            (click)="edit()">Edit</button>

        <button (click)="close()">Close edit</button>
    </form>
</div>