<h2>Administration</h2>

<div class="editProduct">

    <h3>Edit product</h3>

    <form [formGroup]="editForm" novalidate (ngSubmit)="edit(editForm)">
        <div>
            <input formControlName="name" type="text">
        </div>

        <div *ngIf="formErrors.name" class="alert">
            {{formErrors.name}}
        </div>

        <div>
            <textarea formControlName="about"
                type="text" 
                rows="10" 
                cols="30">
            </textarea>
        </div> 

        <button [disabled]="editForm.invalid">Edit</button>
        <button (click)="close()">Close edit</button>
    </form>
</div>