<h2>Administration</h2>

<div class="administration">

  <div class="add-new-product">

    <h3>Add new product</h3>

    <form [formGroup]="adminForm"
          novalidate
          (ngSubmit)="addProduct(adminForm)">

      <div>
        <input formControlName="name"
          type="text"
          placeholder="Product name">
      </div>
      
      <div *ngIf="formErrors.name" class="alert">
        {{formErrors.name}}
      </div>

      <div>
        <textarea formControlName="about"
          type="text" 
          rows="10" 
          cols="30" 
          placeholder="About product">
        </textarea>
      </div>

      <button [disabled]="adminForm.invalid">Add product</button>
      
    </form>
  </div>
</div>

<router-outlet></router-outlet>