.administration {
    display: flex;
	flex-direction: row;
	display: -webkit-flex;
}

.add-new-product {
    display: flex;
	flex-direction: column;
    display: -webkit-flex;
    margin-right: 5px;
}