<h2>Administration</h2>

<div class="administration">

  <div class="add-new-product">

    <h3>Add new product</h3>

    <form #productForm="ngForm">
      <div>
        <input [(ngModel)]="model.name" 
          name="name" 
          type="text"
          #name="ngModel" 
          placeholder="Product name" 
          required
          minlength="2">
      </div>
      
      <div *ngIf="formErrors.name" class="alert">
        {{formErrors.name}}
      </div>

      <div>
        <textarea [(ngModel)]="model.about" 
          name="about" 
          type="text" 
          rows="10" 
          cols="30" 
          placeholder="About product">
        </textarea>
      </div>

      <button [disabled]="productForm.form.invalid" 
          (click)="addProduct()">Add product
      </button>
      
    </form>
  </div>
</div>

<router-outlet></router-outlet>