<div *ngIf="!message && !authService.isLoggedIn">

  <form #authorizationForm="ngForm">
    <div>
        <label for="login">Login</label>
        <input [(ngModel)]="user.login"
          type="text" 
          id="login"
          name="login"
          #name="ngModel" 
          required>
          <!-- #name без равно HTML, c равно привязано к "ngModel" -->
    </div>

    <div *ngIf="formErrors.login" class="alert">
      {{formErrors.login}}
    </div>

    <div>
      <label for="password">Password</label>
      <input 
        [(ngModel)]="user.password" 
        type="password" 
        id="pasword"
        name="password"
        #name="ngModel"
        required>
    </div>

    <div *ngIf="formErrors.password" class="alert">
      {{formErrors.password}}
    </div>

  </form>

  <button [disabled]="authorizationForm.invalid"
    (click)="log()">Login</button>

</div>

<div *ngIf="message">
  {{message}}
</div>

<button *ngIf='authService.isLoggedIn' (click)="logOut()">Log out</button>
