/* You can add global styles to this file, and also import other style files */

html {
	background: #ccc;
	display: flex;
	flex-direction: row;
	display: -webkit-flex;
}

.done {
    text-decoration: line-through;
}

.alert {
    color: red;
}

.ng-dirty.ng-invalid:not(form) {
    border: 2px solid red;
}

.ng-dirty.ng-valid[required]:not(form) {
    border: 2px solid green;
}

/* :not(form) - не для форм */
/* ng-valid[required] только для полей required */